<ul style="list-style: none;">
<div class="row">
<% @restaurants.each do |restaurant| %>
  <li class="mb-3 col-12 col-md-4"> <%= render 'shared/restaurant_card', restaurant: restaurant %></li>

<% end %>
</ul>
</div>
